@font-face {
  font-family: NEXT_ART;
  font-display: swap;
  src: url(../fonts/NEXT_ART-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(../fonts/Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(../fonts/Raleway-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
:root {
  --font-family: Raleway,sans-serif;
  --second-family: NEXT_ART,sans-serif;
  --main-01: #212737;
  --main-02: #6c7ba3;
  --main-03: #4e5a7b;
  --secondary-01: #49d0b8;
  --secondary-02: #226357;
  --secondary-03: #2dad96;
  --secondary-04: #fff;
  --secondary-05: #000;
  --gradient-01: linear-gradient(180deg, #212737 0%, #6c7ba3 100%);
  --gradient-02: linear-gradient(180deg, #6c7ba3 0%, #212737 100%);
  --gradient-03: linear-gradient(180deg, #49d0b8 0%, #226357 100%)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--secondary-04);
  line-height: 1;
  font-family: var(--font-family);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: var(--main-02)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 89.5rem;
  margin: 0 auto;
  padding: 0 1rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1rem 1fr minmax(auto,87.5rem) 1fr 1rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.title {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase
}
.section-head {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .875rem
}
.section-head:not(:last-child) {
  margin-bottom: 1.5rem
}
.section-head__text {
  max-width: 36.375rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--secondary-01)
}
.button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 2.5rem;
  min-width: 11.25rem;
  border-radius: 3% 3% 3% 3%/50% 50% 50% 50%;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
  padding: .5rem 1.5rem;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--secondary-04);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: relative
}
.button__bg,
.button__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .3s
}
.button__text {
  position: relative;
  z-index: 3
}
.button__bg {
  z-index: 2
}
.button__hover {
  z-index: 1;
  opacity: 0
}
.link-line {
  text-decoration: underline
}
.timer {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .375rem
}
.timer__text {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center
}
.timer__body {
  display: flex;
  align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 12.5rem;
  border: 1px solid var(--secondary-01);
  border-radius: .625rem;
  padding: .625rem 1.25rem;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center;
  background-color: #3e4862
}
.timer .days {
  margin-right: .125rem
}
.timer .hours {
  margin-left: auto
}
.swiper-button-next,
.swiper-button-prev {
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-content: center;
  color: var(--secondary-01);
  transition: color .3s
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 2.375rem
}
.menu__link {
  font-size: 1rem;
  line-height: 120%;
  transition: color .3s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  top: 2.125rem;
  left: 0;
  width: 100%;
  z-index: 35
}
.header__body {
  background-color: var(--main-03);
  border-radius: .625rem;
  padding: .8125rem 3.375rem;
  display: flex;
  align-items: center;
  gap: 2.375rem
}
.header__menu {
  flex: 1 1 auto
}
.footer {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background-color: var(--main-03)
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem
}
.footer__menu {
  max-width: 52.625rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem
}
.footer__list {
  display: grid;
  align-content: start;
  gap: .25rem
}
.footer__link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  font-size: 1rem;
  line-height: 120%;
  transition: color .3s
}
.footer__info {
  max-width: 29.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.footer__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center
}
.footer__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .875rem
}
.hero {
  padding-top: 13.75rem;
  padding-bottom: 6.25rem;
  background: var(--gradient-01)
}
.hero__body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 3rem
}
.hero__head {
  max-width: 43.75rem;
  padding-top: 2.25rem;
  position: relative;
  z-index: 3
}
.hero__head:not(:last-child) {
  margin-bottom: 1.5rem
}
.hero__head::before {
  content: "";
  --size-ellipse: 33.75rem;
  position: absolute;
  top: -15.625rem;
  left: -17.5rem;
  z-index: -1;
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.hero__title {
  margin-bottom: .875rem
}
.hero__text {
  max-width: 33.75rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%
}
.hero__img {
  grid-column: 2/-1;
  grid-row: 1/-1;
  max-width: 40rem;
  min-width: 25rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2
}
.hero__img::before {
  content: "";
  --size-ellipse: 50.25rem;
  position: absolute;
  top: -15%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.hero__img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__bottom {
  max-width: 43.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  z-index: 3
}
.hero__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .875rem
}
.hero__features-item {
  display: flex;
  align-items: flex-start;
  gap: .3125rem
}
.hero__features-item span {
  align-self: center
}
.hero__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .875rem
}
.hero__timer {
  margin-top: auto;
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 2
}
.hero__timer::before {
  content: "";
  --size-ellipse: 33.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.price-block {
  display: flex;
  flex-direction: column;
  gap: .3125rem
}
.price-block__item {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: .3125rem;
  min-width: 12.8125rem
}
.price-block__oldprice span,
.price-block__price span {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 100%;
  font-size: 2.5rem
}
.price-block__oldprice {
  text-decoration: line-through
}
.price-block__oldprice span {
  display: inline-block;
  position: relative
}
.price-block__oldprice span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: .125rem;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  background-color: var(--secondary-04)
}
.price-block__price {
  color: var(--secondary-01)
}
.about {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--gradient-02)
}
.about__body {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: auto 1fr;
  gap: 0 1.875rem
}
.about__img {
  grid-row: 1/-1;
  grid-column: 1/2;
  max-width: 45.25rem;
  width: 100%;
  position: relative;
  z-index: 2
}
.about__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__img::before {
  content: "";
  --size-ellipse: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse-2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.about__head {
  position: relative;
  z-index: 3
}
.about__head:not(:last-child) {
  margin-bottom: .875rem
}
.about__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem
}
.about__content::before {
  content: "";
  --size-ellipse: 45rem;
  position: absolute;
  top: 50%;
  left: 15.625rem;
  z-index: -1;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse-3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.about__info {
  max-width: 25rem;
  width: 100%;
  border: 3px solid var(--secondary-01);
  border-radius: .625rem;
  padding: .875rem;
  background-color: var(--main-01);
  line-height: 122%;
  text-align: center;
  display: grid;
  align-content: start;
  gap: .9375rem
}
.advantages {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background-color: var(--main-01)
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18.125rem,1fr));
  gap: 1.375rem
}
.advantages__item {
  max-width: 28.25rem;
  display: flex;
  flex-direction: column;
  gap: .875rem;
  text-align: center
}
.advantages__item-img {
  border: 3px solid var(--secondary-01);
  border-radius: .625rem;
  overflow: hidden
}
.advantages__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.advantages__item-title {
  color: var(--secondary-01);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  text-transform: uppercase
}
.advantages__item-text {
  font-size: 1rem;
  line-height: 120%
}
.video-review {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--gradient-01)
}
.video-review__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.875rem
}
.video-review__video {
  max-width: 41.25rem;
  width: 100%;
  border: 3px solid var(--secondary-01);
  border-radius: .625rem;
  overflow: hidden;
  position: relative
}
.video-review__video img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity .3s
}
.video-review__video iframe,
.video-review__video video {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 660/366
}
.video-review__video.video-play img {
  z-index: -1;
  opacity: 0;
  visibility: hidden
}
.video-review__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 27.17%;
  height: 41.3%;
  transition: opacity .3s
}
.video-review__play-btn img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.video-play .video-review__play-btn {
  z-index: -1;
  opacity: 0;
  visibility: hidden
}
.video-review__content {
  max-width: 43.75rem;
  width: 100%;
  position: relative;
  z-index: 2
}
.video-review__content::before {
  content: "";
  --size-ellipse: 37.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse-3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.video-review__list {
  display: grid;
  align-content: start;
  gap: .875rem;
  font-size: 1rem;
  line-height: 120%
}
.video-review__list li {
  display: flex;
  align-items: center;
  gap: .3125rem
}
.video-review__list li::before {
  content: "";
  flex-shrink: 0;
  align-self: flex-start;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/check-mark.svg) center/1.5rem no-repeat
}
.video-review__list li span {
  color: var(--secondary-01)
}
.delivery {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--gradient-02)
}
.delivery__body {
  max-width: 76.125rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0,22rem) minmax(15.625rem,1fr) minmax(0,22rem);
  gap: 1.875rem;
  overflow: hidden
}
.delivery__body:not(:last-child) {
  margin-bottom: 1.5rem
}
.delivery__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  z-index: 3
}
.delivery__item {
  border: 3px solid var(--secondary-01);
  border-radius: .625rem;
  padding: .8125rem .5rem;
  background-color: var(--main-01);
  text-align: center;
  line-height: 120%;
  position: relative
}
.delivery__item-title {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--secondary-01)
}
.delivery__center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1875rem 0;
  position: relative;
  z-index: 2
}
.delivery__line {
  position: absolute;
  background-color: var(--secondary-01);
  width: 100%;
  height: .1875rem
}
.delivery__line::before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--secondary-01)
}
.delivery__line--1::before,
.delivery__line--2::before {
  margin-left: auto
}
.delivery__line--1 {
  top: 10%;
  left: -87.5%;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg)
}
.delivery__line--2 {
  bottom: 10%;
  left: -87.5%;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.delivery__line--3 {
  top: 10%;
  right: -87.5%;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg)
}
.delivery__line--4 {
  bottom: 10%;
  right: -87.5%;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg)
}
.delivery__img {
  aspect-ratio: 1/1;
  max-width: 28.375rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--secondary-01)
}
.delivery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.delivery__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .875rem
}
.reviews {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--gradient-01)
}
.reviews__container {
  position: relative;
  z-index: 2
}
.reviews__container::before {
  content: "";
  --size-ellipse: 50rem;
  position: absolute;
  top: -15%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse-3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.slider__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding: .625rem .875rem 0 .875rem
}
.review-card {
  border-radius: .9375rem;
  padding: .875rem;
  background-color: var(--main-02)
}
.review-card__body {
  border-radius: 1.25rem;
  background-color: var(--secondary-04);
  color: var(--secondary-05)
}
.review-card__img {
  overflow: hidden;
  border-radius: 1.25rem;
  display: flex
}
.review-card__img img {
  aspect-ratio: 424/269;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.review-card__content {
  padding: .875rem;
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.review-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%
}
.review-card__text {
  line-height: 120%
}
.order {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--gradient-02)
}
.order__body {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2,auto) 1fr;
  gap: 0 1.5rem
}
.order__title {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 2.75rem
}
.order__price {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: .875rem
}
.order__img {
  grid-column: 2/-1;
  grid-row: 2/-1;
  max-width: 43.625rem;
  width: 100%;
  position: relative;
  z-index: 2
}
.order__img::before {
  content: "";
  --size-ellipse: 42.375rem;
  position: absolute;
  top: 30%;
  left: 70%;
  z-index: -1;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  border-radius: 50%;
  width: var(--size-ellipse);
  height: var(--size-ellipse);
  background-image: url(../img/ellipse-3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none
}
.order__img img {
  display: block;
  border-radius: .625rem;
  border: 3px solid var(--secondary-01);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.form__subtitle {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  text-align: center
}
.form__subtitle:not(:last-child) {
  margin-bottom: 1.5rem
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.form__inputs:not(:last-child) {
  margin-bottom: 1.5rem
}
.form__input {
  height: 3.1875rem;
  border: 1px solid var(--secondary-01);
  border-radius: .9375rem;
  padding: 1rem 1.25rem
}
.form__input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: var(--secondary-04);
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.form__input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: var(--secondary-04);
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.form__input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: var(--secondary-04);
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.form__input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: var(--secondary-04);
  transition: opacity .3s
}
.form__input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.form__input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.form__input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.form__input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.form__timer {
  margin: 0 auto
}
.form__timer:not(:last-child) {
  margin-bottom: .875rem
}
.form__btn {
  margin: 0 auto
}
.form__btn:not(:last-child) {
  margin-bottom: .875rem
}
.form__text {
  line-height: 120%;
  text-align: center
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:89.5em) {
  .title {
    font-size: 2.5rem
  }
}
@media (max-width:81.24875em) {
  .hero__timer {
    padding-bottom: 0
  }
  .order__body {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) {
  .header {
    top: .9375rem
  }
  .footer__body {
    flex-wrap: wrap
  }
  .footer__menu {
    max-width: none
  }
  .footer__info {
    margin: 0 auto
  }
  .hero {
    padding-top: 7.75rem;
    padding-bottom: 1.875rem
  }
  .hero__body {
    grid-template-columns: repeat(2,1fr)
  }
  .hero__head {
    padding-top: 0
  }
  .hero__img {
    min-width: 0
  }
  .hero__timer::before {
    display: none
  }
  .about__body {
    grid-template-columns: repeat(2,1fr)
  }
  .about__img::before {
    display: none
  }
  .video-review__content::before {
    display: none
  }
  .reviews__container::before {
    display: none
  }
  .order__img::before {
    display: none
  }
}
@media (max-width:47.99875em) {
  .section-head__text {
    font-size: 1rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: -1;
    overflow: auto;
    padding: 5.625rem .9375rem 3.125rem .9375rem;
    background-color: var(--main-03);
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.3125rem;
    background-color: var(--main-03);
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 32
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    gap: 1.25rem
  }
  .menu__link {
    font-weight: 600;
    font-size: 1.25rem
  }
  .icon-menu {
    margin-left: auto;
    display: block;
    position: relative;
    width: 2.3125rem;
    height: 1.125rem
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    background-color: var(--secondary-01)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__body {
    padding: .8125rem .5rem;
    gap: 1.25rem
  }
  .header__menu {
    order: 1
  }
  .header__btn {
    position: relative
  }
  .footer {
    padding-bottom: 2.5rem
  }
  .footer__title {
    font-size: 1rem
  }
  .hero__body {
    grid-template-columns: 1fr;
    grid-template-rows: auto
  }
  .hero__head {
    text-align: center
  }
  .hero__head:not(:last-child) {
    margin-bottom: .625rem
  }
  .hero__head::before {
    display: none
  }
  .hero__text {
    margin: 0 auto;
    font-size: 1rem
  }
  .hero__img {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 1.875rem
  }
  .hero__img::before {
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
  .hero__bottom {
    max-width: none;
    align-items: center
  }
  .hero__features {
    justify-content: center
  }
  .about {
    padding-bottom: 1.25rem
  }
  .about__body {
    grid-template-columns: 1fr
  }
  .about__img {
    grid-row: auto;
    grid-column: auto;
    max-width: 37.5rem;
    margin: 0 auto;
    margin-bottom: 1rem
  }
  .advantages {
    padding-bottom: 1.25rem
  }
  .advantages__item {
    max-width: none
  }
  .video-review {
    padding-bottom: 1.25rem
  }
  .video-review__body {
    flex-direction: column;
    align-items: stretch;
    gap: 1.125rem
  }
  .video-review__video {
    max-width: none
  }
  .delivery {
    padding-bottom: 1.25rem
  }
  .delivery__body {
    grid-template-columns: 1fr;
    gap: 1.125rem
  }
  .delivery__body:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .delivery__column {
    margin: 0 auto;
    max-width: 31.25rem
  }
  .delivery__column:last-child .delivery__item::after {
    top: auto;
    bottom: calc(100% + .625rem)
  }
  .delivery__item::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(100% + .6875rem);
    left: calc(50% - 1.25rem);
    display: block;
    width: 1.875rem;
    height: .0625rem;
    background-color: var(--secondary-01);
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg)
  }
  .delivery__item:nth-child(even)::after {
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg)
  }
  .delivery__center {
    padding: 0
  }
  .delivery__line {
    display: none
  }
  .reviews {
    padding-bottom: 1.25rem
  }
  .order {
    padding-bottom: 1.25rem
  }
  .order__title {
    margin-bottom: 1.125rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.62375em) {
  .footer__menu {
    align-items: center;
    flex-direction: column;
    gap: 1.125rem
  }
  .footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center
  }
  .footer__list:nth-child(2) {
    order: 1
  }
  .footer__info {
    gap: 1.125rem
  }
  .order__body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.125rem
  }
  .order__title {
    grid-column: auto;
    margin-bottom: 0
  }
  .order__price {
    margin-bottom: 0
  }
  .order__img {
    grid-column: auto;
    grid-row: auto
  }
  .form__subtitle:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .form__inputs {
    gap: .5rem
  }
  .form__inputs:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .form__timer:not(:last-child) {
    margin-bottom: .5rem
  }
  .form__btn:not(:last-child) {
    margin-bottom: 1.125rem
  }
}
@media (max-width:29.99875em) {
  .title {
    font-size: 1.5rem
  }
  .section-head {
    gap: .5rem
  }
  .section-head:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .section-head__title {
    word-break: break-word
  }
  .section-head__text br {
    display: none
  }
  .footer__btns {
    flex-direction: column;
    gap: .5rem
  }
  .hero__title {
    margin-bottom: .5rem
  }
  .hero__bottom {
    gap: 1.125rem
  }
  .hero__features {
    display: none
  }
  .hero__btns {
    flex-direction: column;
    gap: .5rem
  }
  .about__head:not(:last-child) {
    margin-bottom: 1rem
  }
  .about__content {
    gap: 1rem
  }
  .about__content::before {
    display: none
  }
  .about__info {
    padding: .75rem .875rem
  }
  .advantages__items {
    gap: 1.125rem
  }
  .advantages__item {
    gap: .5rem
  }
  .advantages__item-title {
    font-size: 1rem
  }
  .video-review__video iframe,
  .video-review__video video {
    aspect-ratio: 357/198
  }
  .delivery__column {
    max-width: 16.125rem
  }
  .delivery__item-title {
    font-size: 1rem
  }
  .delivery__img {
    max-width: 15.5rem
  }
}
@media (min-width:29.99875em)and (max-width:89.5em) {
  .title {
    font-size: clamp(1.5rem ,.9958299195rem + 1.6806369614vw ,2.5rem)
  }
}
@media (any-hover:hover) {
  .button:hover .button__hover {
    opacity: 1
  }
  .button:hover .button__bg {
    opacity: 0
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: var(--secondary-02)
  }
  .menu__link:hover {
    color: var(--secondary-01)
  }
  .footer__link:hover {
    color: var(--secondary-01)
  }
  .video-review__play-btn:hover {
    opacity: .6
  }
}